# Python
__pycache__/
*.pyc
venv/
.venv/
env/

# Editor
.vscode/
.idea/

# Logs e Relatórios (IGNORA A PASTA INTEIRA)
logs/
*relatorio_cadernos*.md

# Arquivos de sistema
desktop.ini
.DS_Store

# Playwright
trace.zip
playwright-report/

# Ambiente Virtual do Python
.venv/

# Pastas de build do PyInstaller
build/
dist/
*.spec

# Relatórios gerados
relatorios/

# Dados
data/

# Arquivos de backup
*.bak
*BACKUP.py

# Arquivos de sistema do VSCode
.vscode/

# Ignora a pasta de cache
cache/