# Arquivo de dependências do Projeto Cadernos TEC

# Automação Web

playwright

# IA & Matching de Texto

sentence-transformers
scikit-learn
numpy
torch

# Geração de Relatórios (HTML)

jinja2

# Interface Gráfica (GUI)

ttkbootstrap